{% extends "base.html" %}

{% block content %}
	<div class="contenedor">

		<h2 class="login__registro">
			Registro
		</h2>
		<section class="login__registro__datos">
			<form method="POST">
			{% csrf_token %}
				<div class="login__registro__datos__ingresar">					
					{{ form.username }}
					{{ form.username.errors }}
				</div>
				<div class="login__registro__datos__ingresar">
					{{ form.password }}
					{{ form.password.errors }}
				</div>
				<button type="submit" class="login__registro__datos__boton">Registrar</button>
			</form>
		</section>		
  	</div>
{% endblock content %}

